/***** BASE STYLES *****/

body{
    font-family: 'Source Sans Pro', sans-serif;
}

#about, #work, #contact {
    height: 600px;
}

/***** GRID *****/
.full-width {
    width:1200px;
    float: left;   
}

.half-width {
    width: 600px;
    float: left;
}

.third-width {
    width:400px;
    float: left;   
}

#wrapper {
    width:1200px;
    margin: 0 auto;
}

#topSection {
    /*background-color:#efefef;*/
    width:100%; 
}

/* Top left text */
.top-left {
    position: absolute;
    top: 8px;
    left: 360px;
}

/* Top right text */
.top-right {
    position: absolute;
    top: 8px;
    right: 350px;
}

#menu {
    background-color:azure;
    float: right;
}

#menu li {
    display: inline;
    font-family:sans-serif;
    font-size: 1em;   
}

#menu li a {
    font-family:sans-serif;
    color: #828282; 
    text-decoration: none;
}

#about .full-width {
    padding:80px 0;
}

#about h2 {
    font-family: "Lora", serif;
    font-size:2em;
}
 
#about p {
    font-size:1em;
    color:#7f7f7f;
    line-height: 40px;
    padding-right: 50px;
}

#skills {
    width:100%;
    float: left;
    background-color: #f9ceb7;
}

#contact {
    background-color: #ebebeb;
    width:100%;
    clear: both;
}

#contact-info {
    text-align: center;   
}

#headingOne {
    font-family: "Lora", serif;
    font-size: 30pt;
    color: #bbc085;
}

#headingTwo {
    font-family: "Lora", serif;
    font-size: 40px;
    color: #9a9b9b;
}